<h1><%= @the_user.username %></h1>

<div>
  <div>Private</div>
  <div style="margin-left: 40px;">

  <%= @the_user.private %>
  
  </div>

  <div>Followers</div>
    <div style="margin-left: 40px;">
    <%= @the_user.followers.count %>
    </div>
  <div style="margin-left: 40px;"></div>

  <div>Following</div>
    <div style="margin-left: 40px;">
    <%= @the_user.leaders.count %>
    </div>
</div>

<ul>
  <li>
    <a href="/users/<%= @the_user.username %>">Profile</a>  
  </li>
  <li>
    <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>  
  </li>
  <li>
    <a href="/users/<%= @the_user.username %>/feed">Feed</a>  
  </li>
  <li>
    <a href="/users/<%= @the_user.username %>/discover">Discover</a>  
  </li>
</ul>

<h2>Feed (<%= @the_user.feed.count %>)</h2>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Image
        </th>

        <th>
          Owner
        </th>

        <th>
          Caption
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

      <th>
        </th>
      </tr>

      <% @the_user.feed.each do |a_photo| %>
      <tr>

        <td>
          <img src="<%= a_photo.image %>" width="300">
        </td>

        <td>
          <% the_owner = User.where({ :id => a_photo.owner_id}).at(0) %>
          <%= the_owner.username %>
        </td>

        <td>
          <%= a_photo.caption %>

        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
